APP_NAME=ws-cicd-bcc2026
APP_ENV=development
APP_PORT=4001

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=todo_db
DB_SSLMODE=disable

IMAGE_NAME=ws-cicd-bcc2026
IMAGE_TAG=latest
